$color-1: #29c1b2;
$color-2: #182276;
$color-3: #edfaf7;

.mygo-cl-1 {
    color: $color-1;
}
.mygo-cl-2 {
    color: $color-2;
}
// .mygo-tbl {
//     position: relative;

//     .btn-export-excel {
//         top: 0;
//         right: 0;
//         position: absolute;
//     }

//     div:first-child {
//         ul {
//             padding-bottom: 10px;
//         }
//     }
// }
.nav-link.active {
    color: #16232c;
    font-weight: bold;
}

@mixin mygo-btn {
    width: 98px;
    height: 24px;
    padding: 0;
    border-radius: 100px;
    align-self: center;
}
.btn-mygo-done {
    @include mygo-btn;
    color: #00D09E;
    background: #EDFAF7;
    border: 1px solid #00D09E;
}
.btn-mygo-processing {
    @include mygo-btn;
    color: #182276;
    background: #F7F4EE;
    border: 1px solid #FFA733;
}
.btn-mygo-new {
    @include mygo-btn;
    color: #009DFF;
    background: #ECF5F8;
    border: 1px solid #009DFF;
}
.btn-mygo-cancel {
    @include mygo-btn;
}
.btn-mygo-invalid {
    @include mygo-btn;
}

@mixin mygo-action-btn {
    color: #ffffff;
    padding: 0;
    width: 132px;
    height: 36px;
    border-radius: 3px;
}
.mygo-bg-continue {
    @include mygo-action-btn();
    background-color: #29C1B2;
}
.mygo-bg-check {
    @include mygo-action-btn();
    background-color: #3FB2E8;
}
// Detail inventory style
.mygo-modal {
    button {
        &:focus {
            outline: unset !important;
        }
    }
    .modal-header {
        padding: 7px 15px;
        background: #f2f2f3;
        h5 {
            width: 100%;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }
        button.close {
            position: absolute;
            right: 16px;
            top: 5px;
            font-size: 26px;
            margin: 0;
            padding: 0;
        }
    }
    .modal-footer {
        button {
            min-width: 45%;
            // font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            border: unset;
            text-transform: uppercase;

            &:first-child {
                background: #aaacb5;
                margin-right: 7.5px;
            }
            &:last-child {
                background: #29c2b2;
                margin-left: 7.5px;
            }
        }
    }
}
.audit-status {
    color: $color-2;
    font-size: 14px;
    line-height: 22px;
    height: 24px;
    width: 110px;
    background: #f1f2fa;
    border: 1px solid $color-2;
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
}
.detail-inventory-table {
    .w-120 {
        width: 120px;
    }
}
.detail-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #29c1b2;
}
// END - Detail inventory style

.btn-new {
    width: 110px;
    height: 24px;
    text-align: center;
    background: $color-3;
    border-radius: 100px !important;
}
.btn-cancel-audit {
    background: #fff;
    border: none;
    display: flex;

    .icon-x {
        font-size: 24px;
        height: 22px;
        display: flex;
    }

    &:focus {
        outline: unset !important;
    }
}

.custom-span {
    font-weight: 600;
}
.vn-notification {
    word-break: break-all;
}
span .span-inline {
    display: inline !important;
}
// Print style
.ls-info-print {
    li {
        span {
            &:first-child {
                width: 130px;
            }
        }
    }
}
.shadow {
    .modal-header {
        text-align: center;
        .modal-title{
        font-weight: 600;
        width: 100%;
        margin-left: 15px;
        }
    }
}
.vn-notification{
    word-break: normal;
}
// END - Print style
